_site
.bundle
.DS_store
.idea
.jekyll-cache
.jekyll-metadata
.ruby-version
.sass-cache
.tweet-cache
.venv
assets/libs/
assets/rendercv/rendercv_output/*.typ
al-folio-upgrade-report.md
node_modules/
output/playwright/
test-results/
vendor
results_gpu_cpu_single_vmap_f64_rs_sa_rn_50_100_200_500_1000
results_f32